{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}

<div class="admin-adds">
<h1>Hello Admin, {{ message }}</h1>
<form action="/register" method="POST">
    <fieldset>
        <legend>New user registration</legend>
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <select name="role">
            {% for role in roles %}
            <option value="{{ role[0] }}">{{ role[0] }}</option>
            {% endfor %}
        </select>
        <input class="btn-add" type="submit" value="Register">
    </fieldset>
</form>

<form action="/create_course" method="POST">
    <fieldset>
        <legend>Create Course</legend>
        <input type="text" name="course_name" placeholder="Course Name">
        <input type="text" name="course_desc" placeholder="Course Description">
        <label for="course_image">Image</label>
        <input type="file" name="course_image" placeholder="Course Image">
        <input class="btn-add" type="submit" value="Add">
    </fieldset>
</form>

<form action="/upload_image_to_course" method="POST">
    <fieldset>
        <legend>Upload Image to Course</legend>
        <select name="course_id">
            {% for course in courses %}
            <option value="{{ course[0] }}">{{ course[1] }}</option>
            {% endfor %}
        </select>
        <input type="file" name="image">
        <input class="btn-add" type="submit" value="Add">
    </fieldset>
</form>

<form action="/active_course" method="POST">
    <fieldset>
        <legend>Create Active Course</legend>
        <select name="course_id">
            {% for course in courses %}
            <option value="{{ course[0] }}">{{ course[1] }}</option>
            {% endfor %}
        </select>
        <select name="teacher_id">
            {% for teacher in teachers %}
            <option value="{{ teacher[0] }}">{{ teacher[2] }}</option>
            {% endfor %}
        </select>
        <input type="date" name="start_date">
        <input type="date" name="end_date">
        <input class="btn-add" type="submit" value="Add">
    </fieldset>
</form>



<form action="/course_student" method="POST">
    <fieldset>
        <legend>Add Student to Course</legend>
        <select name="active_course_id">
            {% for course in active_courses %}
            <option value="{{ course[0] }}">{{ course[0] }} - {{ course[1] }}</option>
            {% endfor %}
        </select>
        <select name="student_id">
            {% for student in students %}
            <option value="{{ student[0] }}">{{ student[2] }}</option>
            {% endfor %}
        </select>
        <input class="btn-add" type="submit" value="Add">
    </fieldset>
</form>
</div>

{% endblock %}